[submodule "source/HyperQO"]
	path = source/HyperQO
	url = git@github.com:ooaarg/HyperQO.git
	branch = main
[submodule "source/MyAlphaJoin"]
	path = source/MyAlphaJoin
	url = git@github.com:ooaarg/AlphaJoin.git
	branch = master
